

.boxed-view {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;

  background: -webkit-linear-gradient(rgba(56, 31, 195, 0.79) 0%, rgba(91, 28, 111, 0.81) 100%), url(images/image1.jpg);

  background-size: cover;
  background-repeat: no-repeat;
  @include smallestPhoneSizes{

  }

  @include mediumSizedPhones{

  }

  @include tablets{

  }


  @include desktopView{
      background-size: 100% 100%;
  }

}

.boxed-view__box {
  background-repeat: no-repeat;
  background-size: 618px 500px;
  color: white;
  padding: 2.4rem;
  text-align: center;
  height: 600px;
  width: 400px;
      border: solid #ffffff38;
}


.formHeader{
  margin:30px;
}

.chatAppHeader{
  font-weight: 560;
font-size: 4.4rem;
margin-top: 20px;
padding-bottom: 28px;
}

.inputLoginFormStyles{
  text-align: center;
  color: #ffffff ;
  background-color: #fff0 !important;
  background-clip: padding-box !important;
  border: 0px;
    border-bottom: 1px solid;
}

#myInput::-webkit-input-placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #231d60;
}

#myInputLogin::-webkit-input-placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color:white;
}


.glyphicon{
  color:#ffffff59;
}


.glyphicon-lock:before{
  padding: 10px;
  position: absolute;
  top: -5%;
}

.glyphicon-user:before{
  padding: 10px;
  position: absolute;
  top: -5%;
}

.glyphicon-envelope:before{
  padding: 10px;
  position: absolute;
  top: -5%;
}

.demoAppWords{
  color: $lightpeach;
  font-style: italic;
  font-size: 11px;
}


#myInputLogin		{
  color:white;
  width: 65%;
  -webkit-transition:width 0.3s ease-in-out;
    margin-bottom: 23px;

}
#myInputLogin:focus	{
  box-shadow: none;
  color:white;
  width:80%;
  -webkit-transition:width 0.5s ease-in-out;
    margin-bottom: 23px;
}

#myInput		{
color: black;
  width: 65%;
  -webkit-transition:width 0.3s ease-in-out;
      margin-bottom: 40px;
          margin-top: 38px;
  @include smallestPhoneSizes{

  }

  @include mediumSizedPhones{

  }

  @include tablets{

  }


  @include desktopView{
      width:30%;
  }

}
#myInput:focus	{
  box-shadow: none;

  width:80%;
  -webkit-transition:width 0.5s ease-in-out;
      margin-bottom: 40px;
  @include smallestPhoneSizes{

  }

  @include mediumSizedPhones{

  }

  @include tablets{

  }


  @include desktopView{
      width:40%;
  }
}



@-webkit-keyframes autofill {
    to {
        color: white;
        background: transparent;
    }
}

input:-webkit-autofill {
    -webkit-animation-name: autofill;
    -webkit-animation-fill-mode: both;
}
//************************************************************ TABS STYLING *********************************************************
.react-tabs__tab-list {
    border-bottom: 1px solid #ffa500;
    margin: 0 0 10px;
    padding: 0;
}

.react-tabs__tab--selected {
    color:white !important;
}


// .react-tabs__tab-list {
//   border-bottom: 1px solid #aaa;
//   margin: 0 0 10px;
//   padding: 0;
// }

.react-tabs__tab {
  display: inline-block;
  border: 1px solid transparent;
  border-bottom: none;
  bottom: -1px;
  position: relative;
  list-style: none;
  padding: 6px 12px;
  cursor: pointer;
}

.react-tabs__tab--selected {
    background: none;
  /* border-color: #aaa; */
  color: white !important;
  border: 2px solid #ffffff82;
  border-radius: 7px;
}

.react-tabs__tab--disabled {
  color: black;
  cursor: default;
}

.react-tabs__tab:focus {
  box-shadow: 0 0 5px hsl(208, 99%, 50%);
  border-color: hsl(208, 99%, 50%);
  outline: none;
}

.react-tabs__tab:focus:after {
  content: "";
  position: absolute;
  height: 5px;
  left: -4px;
  right: -4px;
  bottom: -5px;
  background: #fff;
}

.react-tabs__tab-panel {
  display: none;
}

.react-tabs__tab-panel--selected {
  display: block;
}

.submitLogin_register_button{
  color: #fff !important;
  background-color: #ffa500 !important;
  border-color: #ffffff !important;
}
