.wrapper__login-box{
  padding-top: 60px;
  text-align: center;
      background: $mediumBlue;
      h3{
        color: white;
      }

}

.react-tabs__tab--selected {
    background: $mediumBlue;
    border-color: $lightBlue;
    color: white;
    border-radius: 5px 5px 0 0;
}

.react-tabs__tab-list {
    border-bottom: 1px solid $lightBlue;
    margin: 0 0 10px;
    padding: 0;
}

.react-tabs__tab {
    color:white;
}
.react-tabs__tab--selected {
    color:white !important;
}


.submitLogin_register_button{
  color: #fff !important;
background-color: $darkBlue !important;
border-color: $mediumBlue !important;

}
