/* CSS declarations go here */

*{
  margin:0;
  padding: 0;
}
html{
  font-size: 62.5%;
}
.centerColumn{
  float: none;
   margin: 0 auto;
}
.noPadding{
  padding:0px !important;
}

.rightAlign{
  text-align: right;
}

body{
  color:#555555;
  font-family: Helvetica;
  background-color: #f2f2f2;
  font-size: 1.6rem;
}

h1{
  font-weight: 300;
  font-size: 2.4rem;
}

.logged-in-as{
  font-size: 14px;
  color: #989898;
  padding: 4px;
  position: absolute;
  top: 10px;
  background-color: #2d0490;
}

.logoutButton{
    font-size: 16px;
    border: 1px solid #fffcfceb;
    color: #989898;
    padding: 4px;
    border-radius: 4px;
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #2d0490;

}
.logoutButton:hover{
    border: 1px solid orange;
     background-color: #5520d4;
     color: white;
}



.react-tabs__tab-list {
  border-bottom: 1px solid #aaa;
  margin: 0 0 10px;
  padding: 0;
}

.react-tabs__tab {
  display: inline-block;
  border: 1px solid transparent;
  border-bottom: none;
  bottom: -1px;
  position: relative;
  list-style: none;
  padding: 6px 12px;
  cursor: pointer;
}

.react-tabs__tab--selected {
  background: #fff;
  border-color: #aaa;
  color: black;
  border-radius: 5px 5px 0 0;
}

.react-tabs__tab--disabled {
  color: GrayText;
  cursor: default;
}

.react-tabs__tab:focus {
  box-shadow: 0 0 5px hsl(208, 99%, 50%);
  border-color: hsl(208, 99%, 50%);
  outline: none;
}

.react-tabs__tab:focus:after {
  content: "";
  position: absolute;
  height: 5px;
  left: -4px;
  right: -4px;
  bottom: -5px;
  background: #fff;
}

.react-tabs__tab-panel {
  display: none;
}

.react-tabs__tab-panel--selected {
  display: block;
}
.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one 🙂       */
  display: flex;
  align-items: center;

}

.modal__style{
  top: 50%;
   left  : 50%;
   right : auto;
   bottom : auto;
   margin-right: -50%;
   transform : translate(-50%, -50%);
}

@import './components/titleBar';
@import './components/wrapper';
@import './components/item';
@import './components/forms';
@import './components/errors';
@import './components/addpost/header';
@import './components/addpost/form';
@import './components/adminPage/radioButtons';
@import './components/chats/chatMessage';
@import './components/login/login';
@import './components/modals/modal';
