.savepost__button{
  background-color: #231d60;
border: none;
color: #ffffff;
padding: 15px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin: 10px;
border: 3px solid #ffffff82;
}
.button-login{
    background-color: #ff0d5f;
border: none;
color: white;
cursor: pointer;
font-size: 14px;
line-height: 1.2;
margin-bottom: 10px;
padding: 11px;
border-radius: 46px;
width: 70%;
text-transform: uppercase;
}

.savepost__button:hover{
  color:white;
  border: 3px solid $darkBlue;
}

.goToChat__button{
  background-color: #372ab0;
border: none;
color: #ffffff;
padding: 15px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin: 10px;
border: 3px solid #ffffff82;

}
.goToChat__button:hover{
  border: 3px solid $lightBlue;
  color: $lightBlue;
    text-decoration: none;
}

.item__button{
background-color: $darkBlue; /* Green */
border: none;
color: white;
padding: 15px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin: 10px;
}


.sort_button1{
      font-size: 14px;
      border: 1px solid $darkBlue;
      color: black;
      padding: 3px;
      border-radius: 4px;
      background-color: $darkBlue;
      color: #ffffff;
      margin: 5px;
          border: solid 2px #ffffff6e;

    @include smallestPhoneSizes{

    }

    @include mediumSizedPhones{

    }

    @include tablets{

    }


    @include desktopView{
      position: absolute;
    right: 0;
    top:65%;
    }
}
.sort_button{
      font-size: 14px;
      border: 1px solid $darkBlue;
      color: black;
      padding: 3px;
      border-radius: 4px;
      background-color: $darkBlue;
      color: #ffffff;
      margin: 5px;
          border: solid 2px #ffffff6e;

    @include smallestPhoneSizes{

    }

    @include mediumSizedPhones{

    }

    @include tablets{

    }


    @include desktopView{
      position: absolute;
    right: 0;
    top: 0%;
    }
}
.sort_button2{
      font-size: 14px;
      border: 1px solid $darkBlue;
      color: black;
      padding: 3px;
      border-radius: 4px;
      background-color: $darkBlue;
      color: #ffffff;
      margin: 5px;
          border: solid 2px #ffffff6e;

      @include smallestPhoneSizes{

      }

      @include mediumSizedPhones{

      }

      @include tablets{

      }


      @include desktopView{
        position: absolute;
        right: 0;
        top: 80%;
      }
}






.logoutButton{
  font-size: 13px;
border: 1px solid #ffffff;
color: white;
padding: 4px;
border-radius: 4px;
position: absolute;
top: 10px;
right: 10px;
    background: none;

}
.logoutButton:hover{
    border: 1px solid $mediumBlue;
     background-color: white;
     color: $mediumBlue;
}
