.form{
  max-width: 500px;
     padding: 20px 12px 10px 20px;
     font: 13px Arial, Helvetica, sans-serif;
}

.form__input{
  box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      border: 1px solid #C2C2C2;
      box-shadow: 1px 1px 4px #EBEBEB;
      -moz-box-shadow: 1px 1px 4px #EBEBEB;
      -webkit-box-shadow: 1px 1px 4px #EBEBEB;
      border-radius: 3px;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      padding: 7px;
      outline: none;
}
.search-form{
  text-align: center;
}

// Create placeholder mixin
@mixin placeholder($color, $size:"") {
      &::-webkit-input-placeholder {
        color: $color;
            @if $size != "" {
              font-size: $size;
            }
      }

}


// Use placeholder mixin (the size parameter is optional)
[placeholder] {
  @include placeholder(#260387, 16px);
}
