.item{
  border: 3px solid #585858;
  padding: 8px;
  margin-bottom: 1.3rem;
  color: #d2d2d2;
}

.item__post-title{
  text-align: center;
      font-size: 24px;
}


.item__image{
  width:300px;
  height: 350px;
}



.search-title{
  text-align: center;
  width: 100%;
}
