.item{
  border: 7px solid #ffffff36;
  padding: 12px;
  /* margin-bottom: 1.3rem; */
  color: #d2d2d2;
        background-color: #241d73;
}

.item__post-title{
  text-align: center;
      font-size: 24px;
}


.item__image{
  width:300px;
  height: 350px;
}



.search-title{
  text-align: center;
  width: 100%;
}
