.item{
  background-color: white;
      border: 3px solid #6c30ba;
      margin-bottom: 1.3rem;
    

}

.item__post-title{
  text-align: center;
}


.item__image{
  width:300px;
  height: 350px;
}

.item__button{
background-color: #4CAF50; /* Green */
border: none;
color: white;
padding: 15px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin: 10px;
}

.sort_button{
      font-size: 14px;
      border: 1px solid white;
      color: black;
      padding: 3px;
      border-radius: 4px;
      background-color: #6924c4;
      color: #ffffff;
      margin: 5px;
}

.search-title{
  text-align: center;
  width: 100%;
}

.savepost__button{
      background-color: #ffffff;
      border: none;
      color: orange;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 10px;
      border: 3px solid #29038b;


}
.savepost__button:hover{
  color:#29038b;
  border: 3px solid orange;
}

.goToChat__button{
    background-color: #29038b;
    border: none;
    color: orange;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
    border: 3px solid white;


}
.goToChat__button:hover{
  border: 3px solid orange;
}
