
.title-bar{
  font-size: 45px;
      text-align: center;
      color: orange;
      font-family: sans-serif;
      font-weight: 600;

}
.subtitle-bar{
  font-size: 35px;
      text-align: center;
      color: white;
      font-family: sans-serif;
      font-weight: 500;
}
