
.title-bar{
  font-size: 45px;
      text-align: center;
      color: white;
      font-family: sans-serif;
      font-weight: 600;
          margin-top: 37px;

              @include smallestPhoneSizes{
                    font-size: 24px;
              }

              @include mediumSizedPhones{
                    font-size: 24px;
              }

              @include tablets{

              }


              @include desktopView{

              }

}
.subtitle-bar{
  font-size: 26px;
  text-align: center;
  color: #ffffffc2;
  font-family: sans-serif;
  font-weight: 500;

  @include smallestPhoneSizes{
        font-size: 14px;
  }

  @include mediumSizedPhones{
        font-size: 14px;
  }

  @include tablets{

  }


  @include desktopView{

  }

}
.logged-in-as{
  font-size: 14px;
  color: white;
  padding: 4px;
  position: absolute;
  top: 10px;
  background-color: $darkBlue;
}
