
.wrapper{
  margin: 0 auto;
  max-width: 50rem;
  padding: 1.3rem;

}
.wrapper_search-and-filter{
  margin: 0 auto;
  background-color:#6da7d6;
  padding: 1.3rem;
}
.wrapper__post{
    display: inline-block;
}
.wrapper__box{
    border: 4px solid;
    border-color: #6da7d6;
    background-color: #ffffff;
    border-radius: 19px;
width: 800px;
 height: 400px;
}

.wrapper__login-box{
  padding-top: 60px;
  text-align: center;
}

.wrapper__main-buttons{
  margin: 0 auto;
  max-width: 60rem;
  padding: 1.3rem;
  text-align: center;

}

.wrapper_sort-buttons{
  font-size: 14px;
    border: 1px solid transparent;
    color: black;
    padding: 3px;
    border-radius: 4px;
    position: absolute;
    right: 10px;
}

.wrapper_search{
  margin: 0 auto;
  max-width: 40rem;
}
