
.addPostForm__label{
  font-size: 24px;
color: #3a06a1;
padding-top: 20px;
}

.addpost__WrapperForm{
  margin: 0 auto;
  padding: 1.3rem;
  text-align: center;
  padding: 20px 12px 10px 20px;
  font: 13px Arial, Helvetica, sans-serif;
  max-width: 500px;
}

.addPost__form__Submit{
  background-color: #3a06a1;
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 10px;
      border-radius: 10px;
      border: 3px solid orange;
}

.addPost__form__Submit:hover{
  color:#29038b;
  border: 3px solid orange;
  background-color: white;
}
