$purple:$darkBlue;
.ReactModal__Content.ReactModal__Content--after-open{

  color:red;
  text-align:center;
  color: white;
    font-size: 18px;
    font-weight: 600;

}


.ReactModal__Content.ReactModal__Content--after-open button{
  font-size: 14px;
  border: 3px solid $darkBlue;
  color: black;
  padding: 10px;
  border-radius: 4px;
  background-color: $darkBlue;
  color: white;
  margin: 15px;
}
.ReactModal__Content.ReactModal__Content--after-open button:hover{
  font-size: 14px;
  border: 3px solid white;
  color: white;
  padding: 10px;
  border-radius: 4px;
  background-color: white;
  color: $darkBlue;
  margin: 15px;
}

.ReactModal__Content {
  position: fixed !important;
    top: 77% !important;
   left: 50%!important;
   // margin-top: -50px!important;
   // margin-left: -300px!important;
  border: 10px solid rgb(255, 164, 1);
    background: #51228e !important;
  overflow: auto;
  border-radius: 15px;
  outline: none;
  padding: 20px;

 }
